.form-floating [data-vg-toggle="show-pass"] {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
}

.vg-select {
	--vg-select-background-color: var(--bs-body-bg);
	--vg-select-border-color: var(--bs-border-color);
	--vg-select-color: var(--bs-body-color);
}
